
<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div class= "container">
    <div class="card">
      <div class="gravatar1 lark"></div>
      <h1 class="xxl">Joonho Choi</h1>
      <h2 class="sm">UX Designer / UI Developer</h2>

      <div class="social default">
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-weixin"></i>
        <i class="fa fa-envelope-square"></i>
    </div>
  </div>

<div class="card">
<div class="gravatar2 lark"></div>
  <h1 class="xxl">Ico Chen</h1>
  <h2 class="sm">UX Designer / UI Developer</h2>

  <div class="social default">
    <i class="fa fa-github"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-weixin"></i>
    <i class="fa fa-envelope-square"></i>
  </div>
</div>

<div class="card">
  <div class="gravatar3 lark"></div>
  <h1 class="xxl">Jianting Zhang</h1>
  <h2 class="sm">UX Designer / UI Developer</h2>

  <div class="social default">
    <i class="fa fa-github"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-weixin"></i>
    <i class="fa fa-envelope-square"></i>
  </div>
</div>
</div>
</body>
