<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <div class="contact-wrapper">
    <div class= "container-contact">
      <div class="card">
        <div class="gravatar1 lark"></div>
        <h1 class="xxl">Joonho Choi</h1>
        <h2 class="sm">Backend Developer</h2>

        <div class="social default">
          <a href="https://github.com/Joonho0645"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/joonho-choi-474601161/"><i class="fa fa-linkedin"></i></a>
     <!--      <i class="fa fa-weixin"></i>
          <i class="fa fa-envelope-square"></i> -->
        </div>
      </div>

      <div class="card">
        <div class="gravatar2 lark"></div>
        <h1 class="xxl">Ico Chen</h1>
        <h2 class="sm">Project Manager / Backend Developer</h2>

        <div class="social default">
          <a href="https://github.com/IcoChen"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/leiyue-chen-005b82153/"><i class="fa fa-linkedin"></i></a>
      <!--     <i class="fa fa-weixin"></i>
          <i class="fa fa-envelope-square"></i> -->
        </div>
      </div>

      <div class="card">
        <div class="gravatar3 lark"></div>
        <h1 class="xxl">Jianting Zhang</h1>
        <h2 class="sm">Frontend Developer</h2>

        <div class="social default">
          <a href="https://github.com/JiantingZhang"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/jianting-zhang-2820b5135/"><i class="fa fa-linkedin"></i></a>
        <!--   <i class="fa fa-home"></i>
          <i class="fa fa-envelope-square"></i> -->
        </div>
      </div>
    </div>
  </div>
 <div class="home-contact">
    <div class="row" style="font-size: 50px">
       <a href="http://www.tabzilla.life/"><i class="fa fa-home"></i></a>
    </div>
  </div>
</body>
