<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>
<img id="logo" src="images/logo.png">
<img src="images/animate.gif">
<nav class="menu">
  <ul>
    <li><a href="#products"><%= link_to 'Chrome', 'https://chrome.google.com/webstore/detail/tabzilla/pcmimpejcfkccgbhngjolpnjhfjjefaf'%></a></li>
    <li><a href="#services"></a></li>
    <li><a href="#careers"></a></li>
    <li><a href="#about"></a></li>
    <li><a href="#contact"><%= link_to 'Contact', '/contact.html'%></a></li>
  </ul>
  <img src="images/alien_green_eat.gif">
</nav>
<!-- <li> -->
  <!-- <img src="images/alien_green_dance.gif">
  <img src="images/alien_green_attack.gif"> -->
<!--   <img src="images/alien_green_eat.gif">
</li> -->
<!-- <h1 class="hint">Manage Your Tabs</h1> -->





